<!--
<h1 class="c1">{{title}}</h1>

<div *ngIf="success_msg; then then_msg; else else_msg" style="background-color: aquamarine;">

</div>

<ng-template #then_msg>
  user updated
</ng-template>

<ng-template #else_msg>
  user not added
</ng-template>

<div>learning first, last and index</div>
<ul>
    <li *ngFor="let contact of contacts; index as i; first as f; last as l">
      <div *ngIf="f" style="background-color: aquamarine;">this is first record</div>
      <div>
        {{i}} {{contact.firstName}} {{contact.lastName}}
      </div>
      <div *ngIf="l" style="background-color: rgb(51, 255, 0);">this is last record</div>
    </li>
</ul>

<div>learning even and odd</div>
<ul>
    <li *ngFor="let contact of contacts; even as e; odd as o">
      <div *ngIf="e" style="background-color: rgb(232, 255, 127);">
        {{contact.firstName}} {{contact.lastName}}
      </div>
      <div *ngIf="o" style="background-color: rgb(234, 0, 255);">
        {{contact.firstName}} {{contact.lastName}}
      </div>
    </li>
</ul>


<div [ngSwitch]="superPowerValue">
  <div *ngSwitchCase = "'wonderwoman'">this is wonderwoman</div>
  <div *ngSwitchCase = "'superman'">this is superman</div>
  <div *ngSwitchCase = "'spiderman'">this is spiderman</div>
  <div *ngSwitchDefault>this is default value</div>
</div>

<div [ngSwitch] = "tax">
  <div *ngSwitchCase = "10"> tax is equal to 10</div>
  <div *ngSwitchCase = "30"> tax is equal to 30</div>
  <div *ngSwitchDefault> default value </div>
</div>


<div [ngStyle] = "{'background-color':'green', 'color' : '#fff'}">this is 1st div</div>
<div [ngStyle] = "{'background-color' : newColor, 'color' : '#fff'}">this is 2nd div</div>
<div [ngStyle] = "{'background-color' : stylecolor === 'blue' ? 'blue' : 'purple'}">this is 3rd div</div>

<div [ngClass] = "'c1'">this is ngclass</div>
<div [ngClass] = "'c1 c2'">another one</div>
<div [ngClass] = "styleClsProp">using class property variable</div>
<div [ngClass] = "conditionClsProp === 'c4'? 'c4':'c1'">using condition class property</div>
<div [ngClass] = "{'c3':true,'c5':true}">this is an object example</div>
<div [ngClass] = "getMethod">ngClass using method example</div>
<div *ngIf = "success_msg; then updateUser; else deleteUser"></div>
<ng-template #updateUser>
  update the user
</ng-template>
<ng-template #deleteUser>
  delete the user
</ng-template>
-->
<!--
<div *ngIf = "isUserLoggedIn">
  <div> {{userObject.firstName}} {{userObject.lastName}}</div>
</div>

<table>
  <tr>
    <th>contactID</th>
    <th>firstName</th>
    <th>lastName</th>
  </tr>
  <tr *ngFor = "let contact of contacts">
    <td>{{contact.contactID}}</td>
    <td>{{contact.firstName}}</td>
    <td>{{contact.lastName}}</td>
  </tr>
</table>

<table style = "background-color: gray;">
  <tr>
    <td>contactID</td>
    <td>contactName</td>
    <td>contactEmail</td>
  </tr>
  <tr>
    <td [attr.colspan]="colVal" >contactID</td>
    <td>contactName</td>
    <td>contactEmail</td>
  </tr>
</table>


<button (click) = "sayHello()">click to say hello</button>
<div (mouseover) = "highlighting()">hover me to be highlighted</div>
<input type="text" (focus)="inputBox()">
-->

<!--
<h1 class="c1">{{title}}</h1>


<input [(ngModel)] = "month">
<div *ngIf = "month > 10 ">{{username}}</div>

<div>{{lowerCaseEx | lowercase}}</div>
<div>{{upperCaseEx | uppercase}}</div>
<div>{{dateEx | date : 'short'}}</div>
<div>{{jasonEx | json}}</div>
<div>{{percentageEx | percent : '3.2-4'}}</div>
<div>{{currencyEx | currency : 'USD'}}</div>
<div>{{dateEx | date | uppercase}}</div>
-->
<!--
<router-outlet name = 'loanadd'></router-outlet>
<router-outlet name = 'loanedit'></router-outlet>
-->

<!--
<div [ngClass]="isDarkTheme ? 'dark-theme' : 'light-theme'">
<p>
  <mat-toolbar>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
 </button>
</mat-toolbar>
</p>

<mat-card>
  <mat-card-content>
    <mat-slide-toggle (click)="toggleFunction">Slide me!</mat-slide-toggle>
  </mat-card-content>
</mat-card>

</div>
-->
<!--primary router outlet-->
<router-outlet></router-outlet>
