.c1{
  background-color: rgb(255, 17, 0);
  color: #fff;
  //font-size: 25px;
}
.c2{
  background-color: royalblue;
  color: #fff;
}
.c3{
  background-color: black;
  color: #fff;
}
.c4{
  background-color: chocolate;
  color: #fff;
}
.c5{
  font-size: 25px;
}
